<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="../img/cloudShadow.ico">
		<title>简易社区首页</title>
		<link href="../comm/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"/>
		<link href="../css/plate.css" rel="stylesheet" />
		<link href="../css/model.css" rel="stylesheet" />
	</head>
	<body>
	<div id="app">
		<!-- navbar最顶部的导航栏 -->
		<mynav></mynav>
		
		<!--modal 登录面板-->
		<loginmodal></loginmodal>
		
		<!--主体 -->
		<div class="main col-lg-12">
			<div class="row col-lg-10 col-lg-offset-1">
				<ul class="list-group category">
					<li class="list-group-item">
						<div class="panel panel-default category-panel">
							<div class="panel-heading">
								<h3 class="panel-title">推荐版块</h3>
								<p class="pull-right"><a class="more-plate" href="javascript:void(0);">更多</a></p>
							</div>
							<div class="panel-body panel-plate">
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading"><a class="line-limit-length" href="plateMain.html">大概先这样</a></span>
									<p class="text-muted intro line-limit-length">大概就是这样的版块2222222222222222222222222222222222222</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="plate-hidden">
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading"><a class="line-limit-length">大概先这样</a></span>
										<p class="text-muted intro line-limit-length">大概就是这样的版块2222222222222222222222222222222222222</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="row col-lg-10 col-lg-offset-1">
				<ul class="list-group category">
					<li class="list-group-item">
						<div class="panel panel-default category-panel">
							<div class="panel-heading">
								<h3 class="panel-title">推荐版块</h3>
								<p class="pull-right"><a class="more-plate" href="javascript:void(0);">更多</a></p>
							</div>
							<div class="panel-body panel-plate">
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading"><a class="line-limit-length">大概先这样</a></span>
									<p class="text-muted intro line-limit-length">大概就是这样的版块2222222222222222222222222222222222222</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="col-lg-4 plate">
									<img src="img/head.png" class="img-circle">
									<span class="heading">大概先这样</span>
									<p class="text-muted intro">大概就是这样的版块</p>
								</div>
								<div class="plate-hidden">
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading"><a class="line-limit-length">大概先这样</a></span>
										<p class="text-muted intro line-limit-length">大概就是这样的版块2222222222222222222222222222222222222</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
									<div class="col-lg-4 plate">
										<img src="img/head.png" class="img-circle">
										<span class="heading">大概先这样</span>
										<p class="text-muted intro">大概就是这样的版块</p>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>	
		
		<!--页码-->
		<div class="container-fluid text-center">
			<nav aria-label="Page navigation">
			  <ul class="pagination pagination-lg">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li class="active">
					<span>1 <span class="sr-only">(current)</span></span>
				</li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
				<li><a href="#">6</a></li>
				<li><a href="#">7</a></li>
				<li><a href="#">8</a></li>
				<li><a href="#">9</a></li>
				<li><a href="#">10</a></li>
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
		
		<!--底部 -->
		<myfooter></myfooter>
	</div>
	<script src="../js/global/jquery.slim.min.js"></script>
	<script src="../comm/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="../js/global/vue.min.js"></script>
	<script src="../js/global/vue-resource.min.js"></script>
	<script src="../js/model/model.js"></script>
	<script src="../js/plate/plate.js"></script>
	<script src="../js/plate/plateVue.js"></script>
	</body>
</html>
